.team-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  min-height: 100vh;
}

.team-info-KKR {
  background-image: linear-gradient(to bottom, #3a225d, white);
}
.team-info-RCB {
  background-image: linear-gradient(to bottom, #d5152c, white);
}
.team-info-KXP {
  background-image: linear-gradient(to bottom, #ed1f27, white);
}
.team-info-CSK {
  background-image: linear-gradient(to bottom, #fcce06, white);
}
.team-info-RR {
  background-image: linear-gradient(to bottom, #254aa5, white);
}
.team-info-MI {
  background-image: linear-gradient(to bottom, #004f91, white);
}
.team-info-SH {
  background-image: linear-gradient(to bottom, #9a1c22, white);
}
.team-info-DC {
  background-image: linear-gradient(to bottom, darkblue, white);
}

@media screen and (max-height: 767px) {
  .team-banner {
    height: 150px;
    width: 350px;
  }
}
@media screen and (min-height: 768px) {
  .team-banner {
    height: 250px;
    width: 350px;
  }
}
.team-head {
  align-self: flex-start;
  font-size: 40px;
  font-weight: bold;
  color: WHITE;
}
.match-cards-cont {
  list-style-type: none;
  margin: 15px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
